<a href="https://colab.research.google.com/github/a-nagar/vistra-intermediate/blob/main/Intermediate_Class4_kNN_Grid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing


df = pd.read_csv("https://an-utd-python.s3.us-west-1.amazonaws.com/congress_votes.csv")

# See data details at https://archive.ics.uci.edu/ml/datasets/congressional+voting+records

In [ ]:
df

,party,infants,water,budget,physician,salvador,religious,satellite,aid,missile,immigration,synfuels,education,superfund,crime,duty_free_exports,eaa_rsa
0,republican,n,y,n,y,y,y,n,n,n,y,?,y,y,y,n,y
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,?
2,democrat,?,y,y,?,y,y,n,n,n,n,y,n,y,y,n,n
3,democrat,n,y,y,n,?,y,n,n,n,n,y,n,y,n,n,y
4,democrat,y,y,y,n,y,y,n,n,n,n,y,?,y,y,y,y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,republican,n,n,y,y,y,y,n,n,y,y,n,y,y,y,n,y
431,democrat,n,n,y,n,n,n,y,y,y,y,n,n,n,n,n,y
432,republican,n,?,n,y,y,y,n,n,n,n,y,y,y,y,n,y
433,republican,n,n,n,y,y,y,?,?,?,?,n,y,y,y,n,y
434,republican,n,y,n,y,y,y,n,n,n,y,n,y,y,y,?,n

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435 entries, 0 to 434
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   party              435 non-null    object
 1   infants            435 non-null    object
 2   water              435 non-null    object
 3   budget             435 non-null    object
 4   physician          435 non-null    object
 5   salvador           435 non-null    object
 6   religious          435 non-null    object
 7   satellite          435 non-null    object
 8   aid                435 non-null    object
 9   missile            435 non-null    object
 10  immigration        435 non-null    object
 11  synfuels           435 non-null    object
 12  education          435 non-null    object
 13  superfund          435 non-null    object
 14  crime              435 non-null    object
 15  duty_free_exports  435 non-null    object
 16  eaa_rsa            435 non-null    object
dtypes: object(17)
memory usage: 57.9+ KB

In [ ]:
from sklearn.model_selection import train_test_split


# Create arrays for the features and the response variable
y = df['party']
X = df.drop('party', axis=1) # features
le = preprocessing.LabelEncoder()
X = X.apply(le.fit_transform) # convert every column to number. we don't keep track of translations or encoders/decoders. if you expecting more data, you should store the transfornmers

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
X

,infants,water,budget,physician,salvador,religious,satellite,aid,missile,immigration,synfuels,education,superfund,crime,duty_free_exports,eaa_rsa
0,1,2,1,2,2,2,1,1,1,2,0,2,2,2,1,2
1,1,2,1,2,2,2,1,1,1,1,1,2,2,2,1,0
2,0,2,2,0,2,2,1,1,1,1,2,1,2,2,1,1
3,1,2,2,1,0,2,1,1,1,1,2,1,2,1,1,2
4,2,2,2,1,2,2,1,1,1,1,2,0,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,1,1,2,2,2,2,1,1,2,2,1,2,2,2,1,2
431,1,1,2,1,1,1,2,2,2,2,1,1,1,1,1,2
432,1,0,1,2,2,2,1,1,1,1,2,2,2,2,1,2
433,1,1,1,2,2,2,0,0,0,0,1,2,2,2,1,2
434,1,2,1,2,2,2,1,1,1,2,1,2,2,2,0,1

In [ ]:
y         # output variable -> if only one Y, you can leave as categorical

0      republican
1      republican
2        democrat
3        democrat
4        democrat
          ...
430    republican
431      democrat
432    republican
433    republican
434    republican
Name: party, Length: 435, dtype: object

In [ ]:
# Create a k-NN classifier with 6 neighbors
# change n_neighbors
knn = KNeighborsClassifier(n_neighbors=5, weights="distance")

In [ ]:
knn.fit(X_train, y_train)

KNeighborsClassifier(weights='distance')

In [ ]:
pred = knn.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report, accuracy_score
print(accuracy_score(y_test, pred))
print(classification_report(y_test, pred))

0.9305555555555556
              precision    recall  f1-score   support

    democrat       0.95      0.95      0.95        97
  republican       0.89      0.89      0.89        47

    accuracy                           0.93       144
   macro avg       0.92      0.92      0.92       144
weighted avg       0.93      0.93      0.93       144

## Cuisines Dataset

In [ ]:
cuisines_df = pd.read_csv("https://an-utd-python.s3.us-west-1.amazonaws.com/cuisines.csv")
cuisines_df.head()

,Unnamed: 0,cuisine,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,0,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,indian,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
cuisines_label_df = cuisines_df['cuisine']
cuisines_feature_df = cuisines_df.drop(['Unnamed: 0', 'cuisine'], axis=1)
cuisines_feature_df.head()

,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,artemisia,artichoke,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
cuisines_feature_df.info()

,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,artemisia,artichoke,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
count,3995.000000,3995.0,3995.000000,3995.000000,3995.000000,3995.0,3995.000000,3995.0,3995.000000,3995.0,...,3995.0,3995.000000,3995.000000,3995.000000,3995.000000,3995.0,3995.000000,3995.000000,3995.000000,3995.000000
mean,0.012265,0.0,0.000250,0.001752,0.009262,0.0,0.003254,0.0,0.001502,0.0,...,0.0,0.000501,0.014268,0.002753,0.065832,0.0,0.001001,0.009512,0.043554,0.005257
std,0.110081,0.0,0.015821,0.041828,0.095802,0.0,0.056959,0.0,0.038730,0.0,...,0.0,0.022372,0.118608,0.052408,0.248020,0.0,0.031631,0.097076,0.204127,0.072320
min,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
max,1.000000,0.0,1.000000,1.000000,1.000000,0.0,1.000000,0.0,1.000000,0.0,...,0.0,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(cuisines_feature_df, cuisines_label_df, test_size=0.33, random_state=42)

In [ ]:
 # Create a k-NN classifier with 6 neighbors
knn = KNeighborsClassifier(n_neighbors=7, weights="distance")
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

     chinese       0.69      0.65      0.67       254
      indian       0.83      0.86      0.84       268
    japanese       0.64      0.84      0.73       258
      korean       0.88      0.55      0.68       265
        thai       0.73      0.81      0.77       274

    accuracy                           0.74      1319
   macro avg       0.76      0.74      0.74      1319
weighted avg       0.76      0.74      0.74      1319

## Work on the cars mpg dataset

In [ ]:
cars = pd.read_csv("https://an-vistra.s3.us-west-1.amazonaws.com/data/auto-mpg.csv")

In [ ]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mpg     392 non-null    float64
 1   cyl     392 non-null    int64
 2   displ   392 non-null    float64
 3   hp      392 non-null    int64
 4   weight  392 non-null    int64
 5   accel   392 non-null    float64
 6   yr      392 non-null    int64
 7   origin  392 non-null    object
 8   name    392 non-null    object
 9   color   392 non-null    object
 10  size    392 non-null    float64
 11  marker  392 non-null    object
dtypes: float64(4), int64(4), object(4)
memory usage: 36.9+ KB

In [ ]:
X = cars[['cyl', 'displ', 'hp', 'weight', 'accel', 'origin', 'color']]
y = cars['mpg']

In [ ]:
le = preprocessing.LabelEncoder()
X = X.apply(le.fit_transform) # convert every column to number. we don't keep track of translations or encoders/decoders. if you expecting more data, you should store the transfornmers

X.head()

   cyl  displ  hp  weight  accel  origin  color
0    3     60  34     197     33       2      4
1    4     66  84     337     70       2      2
2    1     15   7       6     50       0      1
3    3     60  44     244     74       2      4
4    1     17  24      63     45       1      1

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors = 13, weights = "distance")

In [ ]:
knn.fit(X_train, y_train)

KNeighborsRegressor(n_neighbors=13, weights='distance')

In [ ]:
from sklearn.metrics import explained_variance_score, r2_score, mean_absolute_error, mean_squared_error
y_pred = knn.predict(X_test)
print(explained_variance_score(y_test, y_pred))
print(r2_score(y_test, y_pred))
print(mean_absolute_error(y_test, y_pred))
print(mean_squared_error(y_test, y_pred))

0.7459758036597578
0.7344371611890148
2.8375973309962115
14.664388758857973

## Pipelines

Pipelines create a series of steps that can be run one after the other, without having to wait for individual steps to terminate.

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

pipe = Pipeline([('scaler', StandardScaler()) ,('knn', KNeighborsRegressor(n_neighbors=6))])
# The pipeline can be used as any other estimator
# and avoids leaking the test set into the train set

pipe.fit(X_train, y_train)

pipe.score(X_test, y_test)

0.7045288768034027

# GridSearch with Cross-Validation

In [ ]:
# i am running on the voting dataset
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import GridSearchCV

knn = KNeighborsClassifier()

params = {'n_neighbors': [1, 3, 5, 7, 9, 11], 'weights': ['distance', 'uniform'], 'p': [1, 2, 3]}  # i want to try these values of n_neighrs

grid = GridSearchCV(knn, params, cv=10, scoring='accuracy', return_train_score=False)


grid.fit(X_train, y_train)

best_model = grid.best_estimator_
print(grid.best_params_)

print(best_model.score(X_test, y_test))
# find best model score

# print(grid.cv_results_)

{'n_neighbors': 3, 'p': 1, 'weights': 'distance'}
0.9236111111111112

Take the Car Dataset and apply a knn model to predict the origin of car

In [ ]:
cars

,mpg,cyl,displ,hp,weight,accel,yr,origin,name,color,size,marker
0,18.0,6,250.0,88,3139,14.5,71,US,ford mustang,red,27.370336,o
1,9.0,8,304.0,193,4732,18.5,70,US,hi 1200d,green,62.199511,o
2,36.1,4,91.0,60,1800,16.4,78,Asia,honda civic cvcc,blue,9.000000,x
3,18.5,6,250.0,98,3525,19.0,77,US,ford granada,red,34.515625,o
4,34.3,4,97.0,78,2188,15.8,80,Europe,audi 4000,blue,13.298178,s
...,...,...,...,...,...,...,...,...,...,...,...,...
387,18.0,6,250.0,88,3021,16.5,73,US,ford maverick,red,25.351225,o
388,27.0,4,151.0,90,2950,17.3,82,US,chevrolet camaro,blue,24.173611,o
389,29.5,4,98.0,68,2135,16.6,78,Asia,honda accord lx,blue,12.661736,x
390,17.5,6,250.0,110,3520,16.4,77,US,chevrolet concours,red,34.417778,o
391,25.1,4,140.0,88,2720,15.4,78,US,ford fairmont (man),blue,20.551111,o

In [ ]:
X = cars[['mpg', 'cyl', 'displ', 'hp', 'weight', 'accel', 'size']]
y = cars['origin']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

We want to first: standardize data using MinMaxScaler

We want to fit a knn classifier model, and i want to try following parameters:
n_neighbirs = [3, 5, 7, 9] 

and knn__weights': ['uniform', 'distance']}]

Find best model parameters and performance of best model on the test part

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import GridSearchCV

knn_pipe = Pipeline([('mms', MinMaxScaler()),
                     ('knn', KNeighborsClassifier())])


params = [{'knn__n_neighbors': [3, 5, 7, 9, 11, 13],
         'knn__weights': ['uniform', 'distance']}]

gs_knn = GridSearchCV(knn_pipe,
                      param_grid=params,
                      scoring='accuracy',
                      cv=5)
gs_knn.fit(X_train, y_train)
print(gs_knn.best_params_)
# find best model score

print(gs_knn.score(X_train, y_train))

{'knn__n_neighbors': 5, 'knn__weights': 'distance'}
1.0

In [ ]:
best_model = gs_knn.best_estimator_
y_pred = best_model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

        Asia       0.55      0.79      0.65        28
      Europe       0.75      0.28      0.41        32
          US       0.82      0.91      0.86        70

    accuracy                           0.73       130
   macro avg       0.71      0.66      0.64       130
weighted avg       0.74      0.73      0.71       130

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dt_pipe = Pipeline([('mms', MinMaxScaler()),
                     ('dt', DecisionTreeClassifier())])
params = [{'dt__max_depth': [3, 5, 7, 9],
         'dt__min_samples_leaf': [3, 5],
         'dt__min_samples_split': [5, 8, 10, 20],}]
         
gs_dt = GridSearchCV(dt_pipe,
                      param_grid=params,
                      scoring='accuracy',
                      cv=5)
gs_dt.fit(X_train, y_train)
print(gs_dt.best_params_)
# find best model score
print(gs_dt.score(X_train, y_train))

{'dt__max_depth': 9, 'dt__min_samples_leaf': 3, 'dt__min_samples_split': 5}
0.6584454409566517

In [ ]:
best_model = gs_dt.best_estimator_
y_pred = best_model.predict(X_test)

print(accuracy_score(y_test, y_pred))
print(classification_report(y_test,y_pred))

0.6133434420015162
              precision    recall  f1-score   support

     chinese       0.37      0.87      0.52       254
      indian       0.80      0.76      0.78       268
    japanese       0.84      0.43      0.57       258
      korean       0.76      0.48      0.59       265
        thai       0.87      0.53      0.66       274

    accuracy                           0.61      1319
   macro avg       0.73      0.61      0.62      1319
weighted avg       0.73      0.61      0.63      1319

# Tune parameters of Random Forest Classifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier

rf = RandomForestClassifier()

params = {'max_depth': [7, 9], 
          'n_estimators': [200, 500, 1000],
          'max_features': ['sqrt', 'log2']
          }  

grid = GridSearchCV(rf, params, cv=10, scoring='accuracy', return_train_score=False)
grid.fit(cuisines_feature_df, cuisines_label_df)

print(grid.best_params_)
# find best model score
print(grid.score(X_train, y_train))

{'max_depth': 9, 'max_features': 'log2', 'n_estimators': 200}
0.8060538116591929

In [ ]:
print(grid.best_estimator_)

RandomForestClassifier(max_depth=9, max_features='log2', n_estimators=200)